
<div class="container-fluid" ng-controller="AddCatererCtrl">
	<form role="form">

		<div class="well form-group">
			<div class="row">
				<div class="col-md-6">
					<h3 class="text-center">Add/Update Caterer</h3>
					<div class="row">
						<div class="col-md-5">
							<label>Name</label>
						</div>
						<div class="col-md-7">
							<input type="text" class="form-control" id="name"
								ng-model="caterer.catererName">
						</div>
					</div>


					<div class="row margin-top-10">
						<div class="col-md-5">
							<label>Details</label>
						</div>
						<div class="col-md-7">
							<textarea rows="3" class="form-control" cols="22" id="details"
								ng-model="caterer.catererDetails"></textarea>
						</div>
					</div>

					<div class="row margin-top-10">
						<div class="col-md-12 text-center">
							<button class="btn btn-danger margin-right-20">Cancel</button>
							<button class="btn btn-primary" ng-click="save()">{{(caterer.catererId>=0)?"Update":"Save"}}</button>
						</div>
					</div>
				</div>
				<div class="col-md-6"></div>
			</div>
		</div>
	</form>

</div>


