<div class="container" >
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-primary">
				<div class="panel-body">
					<h4>Caterer Master</h4>
					<a href="" ng-click="displayList=!displayList;caterer=null;">{{(displayList)?"Add new Caterer":"View Caterer List"}}</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row" ng-show="displayList">
		<div class="col-md-12 ">
			<table class="table table-bordered" style="width: 100%">
				<thead class="">
					<tr>
						<th style="width: 20%">Id</th>
						<th style="width: 20%">catererName</th>
						<th style="width: 60%">Description</th>
					</tr>
				</thead>
				<tbody ng-show="catererdata.length > 0">
					<tr ng-repeat="caterer in catererdata |orderBy:'catererName'">
						<td><a href="" ng-click="update(caterer)">{{caterer.catererId}}</a></td>
						<td>{{caterer.catererName}}</td>
						<td>{{caterer.catererDetails}}</td>
					</tr>
				</tbody>
				<tbody ng-hide="catererdata.length>0">
					<tr >
						<td colspan="7">No caterer data present.</td> 
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row"  ng-hide="displayList">
		<form role="form">

		<div class="well form-group">
			<div class="row">
				<div class="col-md-6">
					<h3 class="text-center">Add/Update Caterer</h3>
					<div class="row">
						<div class="col-md-5">
							<label>Name</label>
						</div>
						<div class="col-md-7">
							<input type="text" class="form-control" id="name"
								ng-model="caterer.catererName">
						</div>
					</div>


					<div class="row margin-top-10">
						<div class="col-md-5">
							<label>Details</label>
						</div>
						<div class="col-md-7">
							<textarea rows="3" class="form-control" cols="22" id="details"
								ng-model="caterer.catererDetails"></textarea>
						</div>
					</div>

					<div class="row margin-top-10">
						<div class="col-md-12 text-center">
<!-- 							<button class="btn btn-danger margin-right-20">Cancel</button> -->
							<button class="btn btn-primary" ng-click="save()">{{(caterer.catererId>=0)?"Update":"Save"}}</button>
						</div>
					</div>
				</div>
				<div class="col-md-6"></div>
			</div>
		</div>
		</form>
	</div>
</div>

