<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="login-panel panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">User Registration</h2>
				</div>
				<div class="panel-body">
					<form role="form">
						<div class="row form-group">
							<div class="col-md-12 text-center">
								<label>{{errorMessage}}</label>
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-5 text-right">
								<label>User Name *</label>
							</div>
							<div class="col-md-7">
								<input type="text" class="form-control" ng-model="user.loginId">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-5 text-right">
								<label>Password *</label>
							</div>
							<div class="col-md-7">
								<input type="password" class="form-control" ng-model="user.password">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-5 text-right">
								<label>Re-Enter Password *</label>
							</div>
							<div class="col-md-7">
								<input type="password" class="form-control" ng-model="repassword">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-5 text-right">
								<label>Email *</label>
							</div>
							<div class="col-md-7">
								<input type="email" class="form-control" id="emailid" ng-model="user.emailId">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12 text-center">
								<a href="#/" class="btn">Cancel</a>
								<button class="btn btn-lg  btn-primary" ng-Click="signup()">Sign Up</button>
							</div>
						</div>					
					</form>
				</div>
				<div class="panel-footer">
					<span class="pull-right">* All fields are mandatory.</span>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
