<div class="container-fluid" ng-controller="CreateCtrl">
	<form role="form">

		<div class="well form-group">
			<div class="row">
				<div class="col-md-6" ng-hide="error">
					<h3 class="text-center">Add/Update Menu</h3>
					<div class="row">
						<div class="col-md-5">
							<label>Name</label>
						</div>
						<div class="col-md-7">
							<input type="text" class="form-control" id="ItemName"
								ng-model="menu.itemName">
						</div>
					</div>


					<div class="row margin-top-10">
						<div class="col-md-5">
							<label>Description</label>
						</div>
						<div class="col-md-7">
							<textarea rows="3" class="form-control" cols="22"
								id="Description" ng-model="menu.description"></textarea>
						</div>
					</div>

					<div class="row margin-top-10">
						<div class="col-md-5">
							<label>Price</label>
						</div>
						<div class="col-md-7">
							<input type="text" class="form-control" id="price"
								ng-model="menu.price">
						</div>
					</div>

					<div class="row margin-top-10">

						<div class="col-md-5">
							<label>Preparation Time</label>
						</div>
						<div class="col-md-7">
							<input type="text" class="form-control" id="prepTime"
								ng-model="menu.prepTime">
						</div>
					</div>
					<div class="row margin-top-10">
						<div class="col-md-12 text-center">
							<a href="#/" class="btn">Cancel</a>
							<button class="btn btn-primary" ng-click="save()">{{(menu.itemId>=0)?"Update":"Save"}}</button>
							<button class="btn btn-danger margin-right-20"
								ng-click="remove()" ng-show="(menu.itemId>=0)">Delete</button>
						</div>
					</div>
				</div>
				<div class="col-md-6" >{{errormessage}}</div>
			</div>
		</div>
	</form>
<div>
    {{menu.itemName}}
  </div>
  <div>
    {{menu.description}}
  </div>
</div>
