	<div class="container" id="myDIVcon">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12" class="item active" align="center">
						<img src="images/canteen.jpg" class="img-rounded" alt="SmartKanteen" width="1100" height="300">
					</div>
				</div>

				<div class="row">
					<div class="col-md-12" align="center">
						<h4>
							<strong>Smart Kanteen</strong>
						</h4>
					</div>
					<div class="col-md-12" id="div1">
						<h4 align="justify">
							<strong>SmartKanteen! Its an application designed for all Mastekeers and Majescians out there .It gives you the privilege to go through as well order a menu at your fingertips. Just Few Steps and there you go.So what are you waiting for? Go on and explore it. </strong>
						</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="row" class="center-block">
			<div class="col-md-12" id="myDIVcon">
				<div class="panel panel-default">
					<div class="panel-body" id="panelb1">
						<h4 class="lead">
							<span class="glyphicon glyphicon-user"></span><u><strong>
									Usage/Features </strong></u>
						</h4>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>
							<span class="glyphicon glyphicon-search"></span><u><strong>
									Choose Caterer of your Choice</u></strong>
						</h4>
						<p></p>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline"><input type="radio"
								name="inlineRadioOptions" id="inlineRadio1" value="option1">

								Choose the caterer of your choice.
						</h4>
						</label><br>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline"><input type="radio"
								name="inlineRadioOptions" id="inlineRadio1" value="option1">

								You can choose among Nitya and Tadka Caterers.
						</h4>
						</label>
					</div>
				</div>


			</div>


			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="images/SelectCaterer.jpg" class="img-rounded"
							alt="Cinque Terre" width="100%" height="50%">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>
							<span class="glyphicon glyphicon-search"></span><u><strong>
									What is There on Menu Today!</u></strong>
						</h4>
						<p></p>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline"><input type="radio"
								name="inlineRadioOptions" id="inlineRadio1" value="option1">
								Choose the caterer of your choice.
						</h4>
						</label><br>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline"><input type="radio"
								name="inlineRadioOptions" id="inlineRadio1" value="option1">
								You can choose among Nitya and Tadka Caterers.
						</h4>
						</label><br>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="images/DefaultTodaysMenu.jpg" class="img-rounded"
							alt="Cinque Terre" width="100%" height="50%">
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>
							<span class="glyphicon glyphicon-search"></span><u><strong>
									Choose Your own filters</u></strong>
						</h4>
						<p></p>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline"><input type="radio"
								name="inlineRadioOptions" id="inlineRadio1" value="option1">

								You can filter as per category of your choice.
						</h4>
						</label><br>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline"> <input type="radio"
								name="inlineRadioOptions" id="inlineRadio1" value="option1">

								Save your precious time by just selecting what you wish to eat
								today.
						</h4>
						</label> <br>
					</div>
				</div>

			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="images/FilterByCategory.jpg" class="img-rounded"
							alt="Cinque Terre" width="100%" height="50%">
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>
							<span class="glyphicon glyphicon-search"></span><u><strong>
									What's our Caterers have for upcoming days?</u></strong>
						</h4>
						<p></p>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline"><input type="radio"
								name="inlineRadioOptions" id="inlineRadio1" value="option1">
								You can enter the date of your choice.
						</h4>
						</label><br>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline"><input type="radio"
								name="inlineRadioOptions" id="inlineRadio1" value="option1">
								You can choose for the date using the selector.
						</h4>
						</label><br>
					</div>
				</div>

			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="images/FilterByDate.jpg" class="img-rounded"
							alt="Cinque Terre" width="100%" height="50%">
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>
							<span class="glyphicon glyphicon-search"></span><u><strong>Choose
									item of your choice</u></strong>
						</h4>
						<p></p>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline"><input type="radio"
								name="inlineRadioOptions" id="inlineRadio1" value="option1">
								You can filter by keyword of your choice. 
						</h4>
						</label><br>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline"><input type="radio"
								name="inlineRadioOptions" id="inlineRadio1" value="option1">
								There are all varieties of Veg and non-Veg available.
						</h4>
						</label><br>
					</div>
				</div>

			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="images/FilterByKeyword.jpg" class="img-rounded"
							alt="Cinque Terre" width="100%" height="50%">
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>
							<span class="glyphicon glyphicon-search"></span><u><strong>Change
									your view</u></strong>
						</h4>
						<p></p>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline"><input type="radio"
								name="inlineRadioOptions" id="inlineRadio1" value="option1">
								There is available grid view for your selection.
						</h4>
						</label><br>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline"><input type="radio"
								name="inlineRadioOptions" id="inlineRadio1" value="option1">
								You will be able to see the list of your selection.
						</h4>
						</label><br>

					</div>
				</div>

			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="images/GridView.jpg" class="img-rounded"
							alt="Cinque Terre" width="100%" height="50%">
					</div>
				</div>

			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>
							<span class="glyphicon glyphicon-search"></span><strong>Change your view</strong>
						</h4>
						<p></p>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								There is available list view for your selection.
								
						</h4>
						</label><br>
						<h4 class="text-muted" align="justify">
							<label class="radio-inline"><input type="radio"
								name="inlineRadioOptions" id="inlineRadio1" value="option1">
								You will be able to see the list of your selection.
						</h4>
						</label><br>

					</div>
				</div>

			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="images/ListView.jpg" class="img-rounded"
							alt="Cinque Terre" width="100%" height="50%">
					</div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>
	</div>

