<!DOCTYPE html>
<html>
<head>
 
<meta charset="ISO-8859-1">
<title>Smart Canteen</title>
 </head>
<body bgcolor="SeaShell">
   <div id="container">
			<div id="header">
			  <h1> <b>Smart Canteen</b> </h1>
			</div>
	
	<hr/>
	<div id="banner">
	<img src="canteen_banner.jpg" width="93%" height="300px" /> 
	</div> 
	<div id="description">
    
	No more queues just to place order in canteen. We present you SmartKanteen, an online food ordering system.
  <br/>
	SmartKanteen gives you a quick peek in the canteen.<br/> It shows you caterers available and on selection of caterer it gives you daily menus of that caterer which can be browsed by date. You can place you order for any selected day while you are still at you workstation. 
<br/>
   </div>
   <div id="reason"> 
      <h2> Why SmartKanteen ? </h2>
      SmartKanteen facilitates you to order items just sitting at your workstation. So now you can say bye to waiting in long queues for placing order. SmartKanteen saves your time n sweat ?.SmartKanteen believe in nothing less than delivering 100% satisfaction.
   <br/>
   <br/>
   </div>
   <div id="usage">
        <div id="usg_header"> 
      <h2>  Smart Canteen is as easy as 1,2,3... </h2>
        </div>
          
		<div id="choose_caterer_block">
		    <b style="font-size:22px"> 
			<img src="choosing.png"  /> 2. Choose the Caterer   </b>
			<br/>
			There are number of 
            caterer attached to 
            our Smart Canteen 
            so please select 
            the caterer before 
 			viewing the today's menu
			fromthe dropdownlist 
            in the homepage.     			
		</div>
		
		<div id="choose_items_block">
		    <b style="font-size:22px"> 
			 <img src="ordering.png"/> 3. Select Items </b>
			 <br/>
			 View the menu, choose delicious
  			 items you like and place your
			 order online from 
             the today's menu by 
             clicking  on the 
             order button in the
             Today's Menu page.   			 
		</div>
	</div>
</div>		
   </body>
</html>