	<div class="container" >
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-sm-12 col-md-12" align="center">
						<img src="images/canteen.jpg" class="img-rounded img-responsive" alt="SmartKanteen" >
					</div>
					<div class="row text-center">
				        <div class="col-lg-12">
				            <h2 class="tagline">Welcome to SmartKanteen.</h2>
				            <p class="lead"><strong>SmartKanteen</strong> a new way to have Canteen at your desk and in your phone. </p>
				            <hr class="small">
				        </div>
				    </div>
				</div>
			</div>
		</div>
		<div class="row" >
			<div class="panel panel-default">
				<div class="panel-body" id="panelb1">
					<h4 class="lead">
						<span class="glyphicon glyphicon-tag"></span>
								What is SmartKanteen offering... 
					</h4>
					<hr class="small" />
	
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								Choose Caterer of your Choice
							</div>
							<div class="panel-body">
								<img src="images/SelectCaterer.jpg" class="img-rounded img-responsive" alt="Click on any Caterer to get menu list" >
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								What is There on Menu Today!
							</div>				
							<div class="panel-body">
								<img src="images/DefaultTodaysMenu.jpg" class="img-rounded img-responsive" alt="Select date to get Menu of that day" >
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								Choose Your own filters
							</div>
							<div class="panel-body">
								<img src="images/FilterByCategory.jpg" class="img-rounded img-responsive"
									alt="Save your precious time by just selecting what you wish to eat	today.">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								What's our Caterers have for upcoming days?
							</div>
							<div class="panel-body">
								<img src="images/FilterByDate.jpg" class="img-rounded img-responsive"
									alt="You can choose for the date using the selector.">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								Choose item of your choice
							</div>
							<div class="panel-body">
								<img src="images/FilterByKeyword.jpg" class="img-rounded img-responsive"
									alt="There are all varieties of Veg and non-Veg available.">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								There is available grid view for your selection.
							</div>
							<div class="panel-body">
								<img src="images/GridView.jpg" class="img-rounded img-responsive"
									alt="You will be able to see the list of your selection.">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								Change your view as you like
							</div>
							<div class="panel-body">
								<img src="images/ListView.jpg" class="img-rounded img-responsive"
									alt="Change your view as you like">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

