<!doctype html>
<html ng-app="canteen">
<head>
<script src="js/angular.min.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/admin.js"></script>
<link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/custom.css" rel="stylesheet" 	type="text/css" media="screen" />
</head>
<body>
	<div class="navbar navbar-static-top"  ng-controller="MenuCtrl">
		<div class="container">
			<div class="navbar-header">
				<a href="#/" class="navbar-brand">SmartKanteen</a>
			</div>
			<div ng-show="userSession">
				<ul class="nav navbar-nav"  ng-repeat="cMenu in mainMenu">
					<li class="active"><a href="{{cMenu.url}}">{{cMenu.name}}</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="">{{userSession.user.loginId}}</a></li>
					<li class="active"><a href="#" ng-Click="logout()">Log Out</a></li>
				</ul>
			</div>
			<div ng-hide="userSession">
				<ul class="nav navbar-nav navbar-right"   ng-repeat="cMenu in loginMenu | orderBy:'name'">
					<li class="active"><a href="{{cMenu.url}}">{{cMenu.name}}</a></li>
				</ul>		
			</div>	
		</div>
		<div class="menubar">&nbsp;</div>
	</div>
<!-- 	<div class="container"> -->
<!-- 		<div class="row"> -->
			<div ng-view></div>
<!-- 		</div> -->
<!-- 	</div> -->
</body>
</html>
